* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.app-main {
  position: relative;
  top: -1px;
}

:root {
  --main-color: #ffffff;
  --btn-color: #3695ff;
}

.general__btn {
  font-family: "latobold";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--btn-color);
  text-transform: uppercase;
  padding: 20px 70px;
  border-radius: 30px;
  border: none;
}

@font-face {
  font-family: 'latoblack';
  src: url("../fonts/lato.black-webfont.eot");
  src: url("../fonts/lato.black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.black-webfont.woff2") format("woff2"), url("../fonts/lato.black-webfont.woff") format("woff"), url("../fonts/lato.black-webfont.ttf") format("truetype"), url("../fonts/lato.black-webfont.svg#latoblack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato.bold-webfont.eot");
  src: url("../fonts/lato.bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.bold-webfont.woff2") format("woff2"), url("../fonts/lato.bold-webfont.woff") format("woff"), url("../fonts/lato.bold-webfont.ttf") format("truetype"), url("../fonts/lato.bold-webfont.svg#latobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("../fonts/lato.light-webfont.eot");
  src: url("../fonts/lato.light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.light-webfont.woff2") format("woff2"), url("../fonts/lato.light-webfont.woff") format("woff"), url("../fonts/lato.light-webfont.ttf") format("truetype"), url("../fonts/lato.light-webfont.svg#latolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato.regular-webfont.eot");
  src: url("../fonts/lato.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato.regular-webfont.woff2") format("woff2"), url("../fonts/lato.regular-webfont.woff") format("woff"), url("../fonts/lato.regular-webfont.ttf") format("truetype"), url("../fonts/lato.regular-webfont.svg#latoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat.bold-webfont.eot");
  src: url("../fonts/montserrat.bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat.bold-webfont.woff2") format("woff2"), url("../fonts/montserrat.bold-webfont.woff") format("woff"), url("../fonts/montserrat.bold-webfont.ttf") format("truetype"), url("../fonts/montserrat.bold-webfont.svg#montserratbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat.regular-webfont.eot");
  src: url("../fonts/montserrat.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat.regular-webfont.woff2") format("woff2"), url("../fonts/montserrat.regular-webfont.woff") format("woff"), url("../fonts/montserrat.regular-webfont.ttf") format("truetype"), url("../fonts/montserrat.regular-webfont.svg#montserratregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

.app-header {
  background: url("/assets/images/intro_bg.png");
  font-size: 0;
  padding: 20px 0;
}

.app-header .container {
  display: flex;
  justify-content: flex-end;
}

.menu {
  font-size: 30px;
  color: var(--main-color);
}

.intro {
  background: url("/assets/images/intro_bg.png");
  padding: 170px 0 140px;
}

.intro .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  font-family: "latoblack";
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 1px;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0 30px;
  width: 80%;
}

.intro__text {
  font-family: "latolight";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0px;
  color: var(--main-color);
  text-transform: uppercase;
  text-align: center;
  line-height: 35px;
  margin-bottom: 65px;
  width: 70%;
}
/*# sourceMappingURL=style.css.map */