.app-header {
    background: url('/assets/images/intro_bg.png');
    font-size: 0;
    padding: 20px 0;

    .container {
        display: flex;
        justify-content: flex-end;
    }
}

.menu {
    font-size: 30px;
    color: var(--main-color);
}