.app-header {

    .container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
}

.menu {
    font-size: 30px;
    color: var(--main-color);
    position: absolute;
    top: 100px;
    z-index: 1;
}