.cookies {
    width: 100%;
    background: #194277;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 20px 0;

    &__text {
        @include font('latoregular', 400, 14px, null, var(--main-color), null);
        margin-right: 40px;
    }

    &__btn {
        @include font('latobold', 700, 12px, null, var(--cookies-btn), capitalize);
        padding: 10px 30px;
    }

}

.intro {
    background: url('../assets/images/intro_bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 270px 0 140px;
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @include font('latoblack', 900, 50px, 1px, var(--main-color), uppercase);
        text-align: center;
        margin: 40px 0 30px;
        width: 80%;

        @media screen and (max-width: 576px) {
            font-size: 40px;
        }
    }

    &__text {
        @include font('latolight', 300, 16px, 0px, var(--main-color), uppercase);
        text-align: center;
        line-height: 35px;
        margin-bottom: 65px;
        width: 70%;

        
    }
}
