@mixin font($font-family, $font-weight, $font-size, $letter-spacing, $var, $text-transform) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    color: $var;
    text-transform: $text-transform;
}